<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<!-- Content Row -->
<div class="row">
    <div class="col-lg-4">
        <!-- card candidate -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Total Validator <%= validatorCount %> </h6>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Validator</th>
                    <th scope="col">Voter validation</th>
                    <th scope="col">Candidate validation</th>
                  </tr>
                </thead>
                <tbody>
                    <% let index=1 %> 
                    <% validator.forEach(v => { %>
                      <tr>
                        <th scope="row"><%= index %></th>
                        <td><%= v.username %> </td>
                        <td>
                          <% if (v.voterStatus==='valid') { %>
                            <div class="alert alert-success" role="alert">
                              valid <i class="bi bi-check-square"></i>
                            </div>
                          <% } else if (v.voterStatus==='invalid') { %>
                            <div class="alert alert-danger" role="alert">
                              invalid <i class="bi bi-x-square"></i>
                            </div>
                          <% } else {%>
                            unvalidated
                          <% } %>  
                        </td>
                        <td>
                          <% if (v.candidateStatus==='valid') { %>
                            <div class="alert alert-success" role="alert">
                              valid <i class="bi bi-check-square"></i>
                            </div>
                          <% } else if (v.candidateStatus==='invalid') { %>
                            <div class="alert alert-danger" role="alert">
                              invalid <i class="bi bi-x-square"></i>
                            </div>
                          <% } else {%>
                            unvalidated
                          <% } %> 
                        </td>
                      </tr>
                    <% index++ }) %>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>