<!-- Content Row -->
<div class="row">
    <div class="col-lg-4">
        <!-- card candidate -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Total Validator <%= validatorCount %> </h6>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Validator</th>
                    <th scope="col">Voter validation</th>
                    <th scope="col">Candidate validation</th>
                  </tr>
                </thead>
                <tbody>
                    <% let index=1 %> 
                    <% validator.forEach(v => { %>
                      <tr>
                        <th scope="row"><%= index %></th>
                        <td><%= v.username %> </td>
                        <td>
                          <% if (v.voter) { %>
                            validated
                          <% } else { %>
                            x
                          <% } %> 
                        </td>
                        <td>
                          <% if (v.candidate) { %>
                            validated
                          <% } else { %>
                            x
                          <% } %>   
                        </td>
                      </tr>
                    <% index++ }) %>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>